In [117]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load 
csv_path = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(csv_path)

purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [118]:
# determine unique count of players

unique_players = len(purchase_data["SN"].value_counts())

unique_players

# table of players

total_players = pd.DataFrame({"Total Players" : [unique_players]})

total_players

   Total Players
0            576

In [119]:
# purchasing analysis 

# set variables and formulas

unique_items = len(purchase_data["Item Name"].value_counts())

average_price = purchase_data["Price"].mean()

number_of_purchases = purchase_data["Purchase ID"].count()

total_revenue = purchase_data["Price"].sum()

# create summary DF and table to display

summary_purchasing_analysis = pd.DataFrame({"Number of Unique Items": [unique_items],
                                          "Average Purchase Price": [average_price],
                                            "Number of Purchases": [number_of_purchases],
                                            "Total Revenue": [total_revenue]})

summary_purchasing_analysis

,Number of Unique Items,Average Purchase Price,Number of Purchases,Total Revenue
0,179,3.050987,780,2379.77